html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  user-select: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.leaflet-bottom,
.leaflet-top,
.leaflet-pane,
.leaflet-control {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
  padding: 0 !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
  font-weight: 500 !important;
}

.rdrMonthPicker > select,
.rdrMonthPicker > select option,
.rdrYearPicker > select,
.rdrYearPicker > select option {
  font-size: 16px !important;
  font-weight: 500 !important;
}

#grid-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  width: 100%;
  padding-top: 100px;
}

@media (max-width: 1440px) {
  #grid-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  #grid-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 470px) {
  #grid-layout {
    grid-template-columns: 1fr;
  }
}
